// Modifiers:
// Shift = 1; Ctrl = 4; Alt = 8; Win = 64
// To combine modifiers use bitwise or
// For example, Win + Shift = 65
//
// Keybinds should be in the format:
// (MOD, KEY, ACTION, ARGS)
//
// ARGS can either be Some([str])
// or None depending on ACTION
//
// Available actions:
//
// quit - quit turtle
// kill_window - kill the focused window
// spawn - run command specified in ARGS

(
    top_gap: 21,
    edge_gap: 3,
    keybinds: [
        (65, "q", "quit", None),
        (64, "w", "kill_window", None),
        (64, "space", "spawn", Some(["rofi", "-show", "run"])),
        (64, "Return", "spawn", Some(["st"])),
        (64, "f", "maximize", None),
        (64, "t", "stack", None),
        (64, "s", "shrink", None),
        (64, "bracketleft", "next", None),
        (64, "bracketright", "prev", None),
        (64, "Tab", "last_win", None),
    ],
    mousebinds: [
        (64, 1, "move"),
        (64, 3, "resize"),
    ]
)